
<div class="container text-center">
  <form action="/answer">
    <div class="titre">
      <label for="question">Speak to your coach</label>
    </div>
    <div class="paragraphe">
      <input type="text" id="question" name="query" placeholder="what time is it?">
      <input type="submit" class="btn btn-primary" value="Go on!">
    </div>
  </form>
</div>
